<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i>Home</li>
            <li class="active">当前封号用户</li>
        </ul>
    </div><!-- /breadcrumb-->
    <div class="main-header clearfix">
        <div class="page-title">
            <h3 class="no-margin">当前封号用户</h3>
        </div><!-- /page-title -->
    </div><!-- /main-header -->

    <div class="gallery-container" ng-repeat="img in list">
        <div class="gallery-item">
            <a class="image-wrapper gallery-zoom" href="javascript:;">
                <img ng-src="{{img.background}}" alt=""/>
                <div style="top:0;left:0;position:absolute;width:30%;height:100px;"><img ng-src="{{img.headImg}}"  alt="" style="width:100px;height:100px;border-radius: 50em;"/></div>
                <div class="image-overlay">
                    <div class="image-info">
                        <div class="h3">{{img.userName}}</div>
                        <span>{{img.gender==1?"男":"女"}}   {{img.birthday}}
                                <button type="button" class="btn btn-xs btn-danger" ng-click="deleteImage(img.id,2)"><i class="fa fa-trash-o"></i>删除背景</button>
                                <button  class="btn btn-xs btn-danger" ng-click="deleteImage(img.id,1)"> <i class="fa fa-trash-o"></i>删除头像</button>
                                <button  class="btn btn-xs btn-danger" ng-click="deleteImage(img.id,3)"><i class="fa fa-trash-o"></i>全部删除</button>
                            </span>
                        <div class="image-time"> 封号时间 {{img.createTime | date:'yyyy-MM-dd HH:mm:ss' }} </div>
                    </div>
                </div>
            </a><!-- /image-wrapper -->
        </div><!-- /gallery-item -->
    </div><!-- /gallery-container -->
</div>

